* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App-container {
    width: 100%;
    height: 100vw;
    min-height: 100vh;
    background: #191919;
    display: flex;
    flex-direction: row;
}


/* Mobile View */

@media (max-width: 360px) {
    .App-container {
        display: flex;
        flex-direction: column;
    }
}